<h1>Login</h1>

<%= form_for :sessao, url: :login do |form| %>

  <%= form.label "E-mail" %>
  <%= form.email_field :email %>

  <%= form.label "Senha" %>
  <%= form.password_field :password %>

  <%= form.submit "Entrar" %>

<% end %>
