<p id="notice"><%= notice %></p>

<h1>Comentários</h1>
<br>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario.nome %>
</p>
<br>
<p>
  <strong>Notícia:</strong>
  <%= @comentario.noticium.titulo %>
</p>
<br>
<p>
  <strong>Conteudo:</strong>
  <%= @comentario.conteudo %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
