<p id="notice"><%= notice %></p>

<h1>Noticia</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Titulo</th>
      <th>Texto</th>
      <th>Categoria</th>
      <th>Image</th>
      <th>Data public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticia.each do |noticium| %>
      <tr>
        <td><%= noticium.usuario.nome %></td>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.texto %></td>
        <td><%= noticium.categoria %></td>
        <td><%= noticium.image %></td>
        <td><%= noticium.data_public %></td>
        <td><%= link_to 'Show', noticium %></td>
        <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
        <td><%= link_to 'Destroy', noticium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticium', new_noticium_path %>
